/* ---------- COLORS ---------- */
$secondary_gray: #616161;
$primary_lightgray: lightgray;
$lightbrown: #efebe9;
$black: black;
$white: white;
$red: #c62828;
$blue: #536dfe;
$green: #388e3c;
$lightred: #ffe6e6;
$lightgreen: #d6f5d6;
